MSSQL_SA_PASSWORD=ejemplo-2026
DATABASE_URL=mssql+pyodbc://sa:A2d_Dev_2026!@localhost:1433/a2d_sm?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes
SECRET_KEY=cambia-esta-clave-en-desarrollo
